@font-face {
  font-family: 'Oswald';
  src: url("../fonts/oswald-regular.woff2") format("woff2"), url("../fonts/oswald-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

*, ::after, ::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 1; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

p {
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 20px; }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 30px; } }
  @media screen and (min-width: 1250px) {
    .container {
      max-width: 1250px;
      padding: 0 15px; } }

.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 1; }

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.button {
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 1; }
  .button:active, .button:focus {
    outline: none; }
  .button--basic {
    font-family: 'Oswald',sans-serif;
    background: #68b738;
    color: white;
    padding: 14px;
    text-transform: uppercase;
    font-size: 16px;
    display: block; }
    .button--basic:hover, .button--basic:focus {
      background: #5eaa2f; }
    .button--basic:active {
      background: #5eaa2f;
      color: rgba(255, 255, 255, 0.3); }
    @media screen and (min-width: 768px) {
      .button--basic {
        width: 245px;
        padding: 13px 27px; } }
  .button--burger {
    background: url("../icons/mobile-menu.png") no-repeat;
    width: 24px;
    height: 18px; }
    @media screen and (min-width: 768px) {
      .button--burger {
        display: none; } }
  .button--close {
    background: url("../icons/close.png") no-repeat center center;
    width: 24px;
    height: 18px; }
  .button--more {
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    padding: 14px;
    width: 100%;
    background: #f2f2f2;
    color: #444444;
    text-transform: uppercase; }
    .button--more:hover {
      background: #eaeaea; }
    .button--more:active {
      color: rgba(68, 68, 68, 0.3);
      background: #eaeaea; }

.icon__img--helpful {
  width: 26px;
  height: 29px; }

.icon__img--powder {
  width: 29px;
  height: 31px; }

.icon__img--eating {
  width: 23px;
  height: 30px; }

.icon__img--time {
  width: 26px;
  height: 31px; }

@media screen and (min-width: 1250px) {
  .with-background {
    background: url("../img/index-background-desktop.png") top right no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%; } }

@media screen and (min-width: 1250px) {
  .with-background .menu__item {
    font-size: 20px;
    color: white; } }

@media screen and (min-width: 1250px) {
  .with-background .menu__item--active:after {
    background: white; } }

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 24px 30px 0; } }

@media screen and (min-width: 1250px) {
  .header__container {
    padding: 54px 15px 0; } }

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 0 16px; }
  @media screen and (min-width: 768px) {
    .header__wrapper {
      display: block;
      padding: 0; } }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 191px; }

.logo__img:hover {
  opacity: 0.8; }

.logo__img:active {
  opacity: 0.6; }

@media screen and (min-width: 768px) {
  .logo__img--text {
    display: none; } }

.menu {
  width: 320px;
  margin: 0 -20px;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out; }
  @media screen and (min-width: 768px) {
    .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 438px;
      height: auto !important;
      overflow: visible; } }
  @media screen and (min-width: 1250px) {
    .menu {
      width: 477px; } }

.menu__item {
  font-family: 'Oswald',sans-serif;
  color: #111111;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 24px 0;
  border-top: 1px solid rgba(68, 68, 68, 0.1); }
  .menu__item:hover {
    opacity: 0.6; }
  .menu__item:active {
    opacity: 0.3; }
  @media screen and (min-width: 768px) {
    .menu__item {
      border-top: 0; } }
  @media screen and (min-width: 768px) {
    .menu__item--active {
      position: relative; }
      .menu__item--active:after {
        position: absolute;
        content: '';
        display: block;
        bottom: -12px;
        left: 0;
        background: #68b738;
        height: 2px;
        width: 100%; } }

.banner {
  background: url("../img/index-background-mobile.png") center top no-repeat;
  color: white;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .banner {
      background: none; } }

@media screen and (min-width: 768px) {
  .banner__container {
    position: relative; } }

@media screen and (min-width: 1250px) {
  .banner__container {
    padding-left: 80px; } }

.banner__title {
  font-family: 'Oswald',sans-serif;
  font-size: 36px;
  padding-top: 29px; }
  @media screen and (min-width: 768px) {
    .banner__title {
      color: #111111;
      font-size: 60px;
      text-align: left;
      width: 415px;
      margin-left: 90px;
      padding-top: 62px; } }
  @media screen and (min-width: 1250px) {
    .banner__title {
      margin-left: 0;
      padding-top: 113px; } }

.banner__subtitle {
  font-family: 'Oswald',sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 19px 0 29px; }
  @media screen and (min-width: 768px) {
    .banner__subtitle {
      color: #111111;
      font-size: 20px;
      text-align: left;
      margin-left: 90px;
      padding: 33px 0 20px; } }
  @media screen and (min-width: 1250px) {
    .banner__subtitle {
      margin-left: 0;
      margin-bottom: 273px; } }

.banner__button {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .banner__button {
      position: absolute;
      top: 287px;
      left: 120px;
      width: auto; } }
  @media screen and (min-width: 1250px) {
    .banner__button {
      left: 80px;
      top: 343px; } }

@media screen and (min-width: 1250px) {
  .banner__img {
    position: absolute;
    display: block;
    top: 34px;
    left: 450px; } }

.advantages {
  padding: 32px 20px 42px; }
  @media screen and (min-width: 768px) {
    .advantages {
      padding: 51px 20px 55px; } }
  @media screen and (min-width: 1250px) {
    .advantages {
      padding: 79px 20px 0; } }

@media screen and (min-width: 768px) {
  .advantages__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media screen and (min-width: 1250px) {
  .advantages__block {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }

.advantages__title {
  font-family: 'Oswald',sans-serif;
  color: #111111;
  font-size: 36px;
  padding-bottom: 35px; }
  @media screen and (min-width: 768px) {
    .advantages__title {
      font-size: 60px;
      padding-bottom: 63px; } }

.advantages__text {
  margin-left: 20px; }
  @media screen and (min-width: 768px) {
    .advantages__text {
      margin: 37px 0 0 0;
      line-height: 24px; } }

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .advantages__item:not(:last-child) {
    margin: 0 0 20px; }
  @media screen and (min-width: 768px) {
    .advantages__item {
      display: block;
      width: 32%;
      padding-bottom: 39px; }
      .advantages__item:nth-child(-n+2) {
        margin: 0 0 87px; }
      .advantages__item:nth-child(2n) {
        margin: 0 80px 20px 100px; }
      .advantages__item:nth-child(3) {
        padding-bottom: 45px; } }
  @media screen and (min-width: 1250px) {
    .advantages__item:nth-child(-n+2) {
      margin: 0 0 0 0; }
    .advantages__item:nth-child(2n) {
      margin: 0 0 0 0; }
    .advantages__item:not(:last-child) {
      margin: 0 90px 0 0; } }

@media screen and (min-width: 768px) {
  .advantage__item--first {
    background: url("../img/1.png") 75% top no-repeat; } }

@media screen and (min-width: 768px) {
  .advantage__item--second {
    background: url("../img/2.png") right top no-repeat; } }

@media screen and (min-width: 768px) {
  .advantage__item--third {
    background: url("../img/3.png") right top no-repeat; } }

@media screen and (min-width: 768px) {
  .advantage__item--fourth {
    background: url("../img/4.png") right top no-repeat; } }

.advantages__icon {
  padding: 15px 17px;
  background: #68b738;
  width: 60px;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media screen and (min-width: 768px) {
    .advantages__icon {
      width: 80px;
      height: 80px;
      padding: 25px 26px; } }

.programs__container {
  margin-top: 20px; }
  @media screen and (min-width: 768px) {
    .programs__container {
      margin-top: 0; } }
  @media screen and (min-width: 1250px) {
    .programs__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 80px; } }

.programs__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f2f2f2;
  padding: 22px 20px; }
  @media screen and (min-width: 768px) {
    .programs__card {
      padding: 81px 62px 62px 53px; } }
  .programs__card:not(:first-child) {
    margin-top: 20px; }
    @media screen and (min-width: 768px) {
      .programs__card:not(:first-child) {
        margin-top: 30px; } }
    @media screen and (min-width: 1250px) {
      .programs__card:not(:first-child) {
        margin-top: 0;
        width: 570px; } }
  @media screen and (min-width: 1250px) {
    .programs__card {
      width: 50%;
      padding: 41px 54px 62px; } }

.programs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.programs__title {
  font-family: 'Oswald',sans-serif;
  color: #111111;
  text-transform: uppercase;
  font-size: 24px;
  margin-left: 20px; }
  @media screen and (min-width: 768px) {
    .programs__title {
      margin-left: 0;
      font-size: 36px; } }
  @media screen and (min-width: 1250px) {
    .programs__title {
      margin-left: 64px; } }
  .programs__title--special {
    margin-left: 12px; }
    @media screen and (min-width: 768px) {
      .programs__title--special {
        margin-left: 0; } }
  @media screen and (min-width: 1250px) {
    .programs__title {
      margin-left: 48px; } }

.programs__text {
  padding-top: 24px;
  line-height: 18px;
  position: relative;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1); }
  @media screen and (min-width: 768px) {
    .programs__text {
      border-bottom: none;
      padding-top: 26px;
      font-size: 16px;
      padding-bottom: 0;
      line-height: 24px; } }
  @media screen and (min-width: 1250px) {
    .programs__text {
      padding-top: 45px; } }

.programs__link {
  font-family: 'Oswald',sans-serif;
  text-transform: uppercase;
  color: #111111;
  position: relative;
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
  padding-right: 36px; }
  @media screen and (min-width: 768px) {
    .programs__link {
      font-size: 20px;
      margin-top: 61px;
      padding-right: 50px; } }
  .programs__link:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    display: block;
    background: url("../icons/right-arrow.png") no-repeat;
    width: 24px;
    height: 11px; }
  .programs__link:hover:after {
    background: url("../icons/right-arrow-verylong.png") no-repeat;
    width: 33px;
    height: 11px;
    right: -9px; }
  .programs__link:active {
    opacity: 0.3; }
  @media screen and (min-width: 1250px) {
    .programs__link {
      margin-top: 36px; } }

.programs__icon {
  height: 50px;
  width: 50px;
  position: relative;
  background-color: #68b738;
  border-radius: 50%; }
  .programs__icon:after {
    content: '';
    position: absolute;
    top: 42%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    width: 35px;
    height: 50px;
    background: url("../icons/cat-slim-tablet.png") no-repeat;
    background-size: cover; }
  @media screen and (min-width: 768px) {
    .programs__icon {
      display: none;
      margin-left: 21px; } }
  @media screen and (min-width: 1250px) {
    .programs__icon {
      display: block;
      height: 100px;
      width: 100px;
      margin-left: 0; }
      .programs__icon:after {
        width: 70px;
        height: 97px; } }

.programs__icon--big {
  display: none;
  height: 200px;
  width: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .programs__icon--big:after {
    width: 140px;
    height: 194px; }
  @media screen and (min-width: 768px) {
    .programs__icon--big {
      display: block; } }
  @media screen and (min-width: 1250px) {
    .programs__icon--big {
      display: none; } }

.programs__icon--panther {
  margin: 0 8px; }
  .programs__icon--panther:after {
    top: 50%;
    width: 67px;
    height: 28px;
    background: url("../icons/cat-pro-tablet.png") no-repeat;
    background-size: cover; }
  @media screen and (min-width: 768px) {
    .programs__icon--panther {
      margin: 0 0 0 50px; }
      .programs__icon--panther:after {
        width: 268px;
        height: 112px; } }
  @media screen and (min-width: 1250px) {
    .programs__icon--panther {
      margin: 0; }
      .programs__icon--panther:after {
        width: 134px;
        height: 56px; } }

.example {
  background: #f2f2f2; }
  @media screen and (min-width: 768px) {
    .example {
      border-top: 1px solid rgba(68, 68, 68, 0.1);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(57%, transparent), color-stop(57%, #eaeaea));
      background: linear-gradient(transparent 57%, #eaeaea 57%); } }
  @media screen and (min-width: 1250px) {
    .example {
      border-top: none;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, #eaeaea));
      background: linear-gradient(transparent 30%, #eaeaea 30%); } }

.example__container {
  padding-top: 33px;
  padding-bottom: 39px; }
  @media screen and (min-width: 768px) {
    .example__container {
      padding-top: 51px;
      padding-bottom: 68px; } }
  @media screen and (min-width: 1250px) {
    .example__container {
      padding-top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start; } }

@media screen and (min-width: 1250px) {
  .example__info {
    width: 50%; } }

.example__title {
  font-family: 'Oswald',sans-serif;
  color: #111111;
  font-size: 36px; }
  @media screen and (min-width: 768px) {
    .example__title {
      font-size: 60px; } }
  @media screen and (min-width: 1250px) {
    .example__title {
      padding-top: 63px; } }

.example__text {
  line-height: 18px;
  padding-top: 33px; }
  @media screen and (min-width: 768px) {
    .example__text {
      padding-top: 60px;
      line-height: 24px; } }
  @media screen and (min-width: 1250px) {
    .example__text {
      padding-top: 134px; } }

@media screen and (min-width: 768px) {
  .example__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media screen and (min-width: 1250px) {
  .example__stats {
    display: block; } }

.example__total {
  font-family: 'Oswald',sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  padding-top: 38px; }
  @media screen and (min-width: 768px) {
    .example__total {
      text-align: right;
      font-size: 20px;
      width: 174px;
      line-height: 25px; } }
  @media screen and (min-width: 1250px) {
    .example__total {
      text-align: left;
      width: 100%;
      padding-top: 62px; } }

.before-picture {
  display: block;
  margin: 0 auto; }

.before-after {
  padding-top: 44px; }
  @media screen and (min-width: 768px) {
    .before-after {
      padding-top: 86px; } }
  @media screen and (min-width: 1250px) {
    .before-after {
      width: 50%;
      padding-top: 0;
      margin-left: 139px; } }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (min-width: 1250px) {
    .features {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start; } }

.features__item {
  margin: 27px 0 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .features__item {
      width: 162px; }
      .features__item:first-child {
        margin-right: 42px; } }
  @media screen and (min-width: 1250px) {
    .features__item {
      margin: 70px 0 0; } }

.features__value {
  font-family: 'Oswald',sans-serif;
  font-size: 24px;
  color: #111111;
  text-align: center;
  padding: 17px 0 18px; }
  @media screen and (min-width: 768px) {
    .features__value {
      font-size: 30px; } }

.features__label {
  text-align: center;
  font-size: 12px;
  padding: 0 10px;
  background: #f2f2f2;
  margin: 0 auto;
  position: absolute;
  bottom: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80px; }
  @media screen and (min-width: 768px) {
    .features__label {
      background: white;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      bottom: -5px; } }
  @media screen and (min-width: 1250px) {
    .features__label {
      background: #eaeaea; } }

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px; }
  @media screen and (min-width: 768px) {
    .switch {
      padding-top: 21px; } }

.before__title,
.after__title {
  font-family: 'Oswald',sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111; }
  @media screen and (min-width: 768px) {
    .before__title,
    .after__title {
      font-size: 20px;
      padding-bottom: 6px;
      border-bottom: 1px dotted rgba(68, 68, 68, 0.23); }
      .before__title:hover,
      .after__title:hover {
        border-bottom: 1px solid rgba(68, 68, 68, 0.4); }
      .before__title:active,
      .after__title:active {
        border-bottom: none; } }

.before__title {
  margin-right: 18px; }

.after__title {
  margin-left: 18px; }

.switch__decor {
  background: white;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  width: 84px;
  height: 14px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .switch__decor {
      background: #dcdcdc;
      border-radius: 2.5px;
      width: 428px;
      height: 6px;
      border: none; } }

.switch__decor--item {
  background: #68b738;
  border-radius: 3px;
  width: 35px;
  height: 6px;
  margin: 3px 0 3px 6px; }
  @media screen and (min-width: 768px) {
    .switch__decor--item {
      background: white;
      border-radius: 50%;
      width: 34px;
      height: 34px;
      position: absolute;
      top: 50%;
      left: 45%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); }
      .switch__decor--item:hover {
        -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
                box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25); }
      .switch__decor--item:active {
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
                box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
        border: 2px solid #68b738; } }
  @media screen and (min-width: 1250px) {
    .switch__decor--item {
      left: 57%; } }

.switch__decor--dot {
  display: none; }
  @media screen and (min-width: 768px) {
    .switch__decor--dot {
      display: block;
      background: #68b738;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); } }

.map {
  position: relative; }
  @media screen and (min-width: 1250px) {
    .map {
      max-width: 1440px;
      margin: 0 auto; } }

@media screen and (min-width: 768px) {
  .map__container {
    padding: 0 72px; } }

@media screen and (min-width: 1250px) {
  .map__container {
    position: absolute;
    width: 570px;
    background: white;
    display: block;
    top: 23%;
    left: 110px;
    right: auto;
    z-index: 10;
    padding: 65px 83px; } }

.map__container--form {
  background: #f2f2f2; }
  @media screen and (min-width: 1250px) {
    .map__container--form {
      background: white; } }

.map__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 26px; }
  @media screen and (min-width: 768px) {
    .map__header {
      padding-top: 69px;
      padding-bottom: 62px; } }
  @media screen and (min-width: 1250px) {
    .map__header {
      padding: 0; } }

.map__title {
  font-family: 'Oswald',sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
  line-height: 20px; }
  @media screen and (min-width: 768px) {
    .map__title {
      font-size: 20px;
      line-height: 25px;
      width: 154px; } }

.map__address {
  line-height: 20px;
  padding-left: 19px; }
  @media screen and (min-width: 768px) {
    .map__address {
      text-align: right;
      font-size: 16px;
      width: 160px;
      padding-left: 0; } }
  @media screen and (min-width: 1250px) {
    .map__address {
      text-align: left; } }

@media screen and (min-width: 768px) {
  .map__address--city {
    display: inline-block;
    padding-top: 20px; } }

.map__image {
  background: url("../img/map.png") no-repeat;
  background-position-y: -30px;
  height: 370px;
  position: relative;
  margin: 0 auto;
  width: 320px; }
  @media screen and (min-width: 768px) {
    .map__image {
      background: url("../img/map-tablet.png") right center no-repeat;
      height: 400px;
      width: 100%;
      max-width: 1440px; } }
  @media screen and (min-width: 1250px) {
    .map__image {
      background: url("../img/map-desktop.png") right center no-repeat; } }
  .map__image:before {
    content: '';
    position: absolute;
    display: block;
    top: 42%;
    left: 44%;
    -webkit-transform: translate(-50% -50%);
            transform: translate(-50% -50%);
    background: url("../img/map-pin.png") no-repeat;
    width: 55px;
    height: 53px; }
    @media screen and (min-width: 768px) {
      .map__image:before {
        background: url("../img/map-pin-tablet.png") no-repeat;
        width: 113px;
        height: 106px;
        top: 38%;
        left: auto;
        right: 300px; } }
    @media screen and (min-width: 1250px) {
      .map__image:before {
        background: url("../img/map-pin.png") no-repeat;
        top: 50%;
        left: auto;
        right: 290px; } }

footer {
  background: #f2f2f2; }

.footer__container {
  padding: 39px 20px 22px; }
  @media screen and (min-width: 768px) {
    .footer__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 64px 30px 62px; } }

.footer__logo {
  background: url("../img/footer-logo.png") no-repeat;
  margin: 0 auto;
  width: 128px;
  height: 24px;
  padding-bottom: 31px;
  display: block; }
  @media screen and (min-width: 768px) {
    .footer__logo {
      border-bottom: none;
      padding-bottom: 0;
      margin: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; } }
  .footer__logo:hover {
    opacity: 0.9; }
  .footer__logo:active {
    opacity: 0.6; }

.copyright {
  padding-top: 22px; }
  @media screen and (min-width: 768px) {
    .copyright {
      padding-top: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; } }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .copyright:active {
    opacity: 0.3; }

.copyright__text {
  font-size: 16px;
  color: #444444; }
  @media screen and (min-width: 768px) {
    .copyright__text {
      padding-right: 23px; } }

.copyright__logo {
  background: url("../icons/htmlacademy.png") no-repeat;
  width: 27px;
  height: 34px; }
  .copyright__logo:hover {
    background: url("../icons/htmlacademy-main-color.png") no-repeat; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 24px;
  margin: 30px 0 0;
  padding-bottom: 22px;
  border-top: 1px solid rgba(68, 68, 68, 0.1);
  border-bottom: 1px solid rgba(68, 68, 68, 0.1); }
  @media screen and (min-width: 768px) {
    .socials {
      border-bottom: none;
      border-top: none;
      padding: 0;
      margin: 0; } }

.socials__item {
  margin: 0 20px; }
  .socials__item:active {
    opacity: 0.3; }
  .socials__item--vk {
    background: url("../icons/vk.png") no-repeat;
    width: 22px;
    height: 12px; }
    @media screen and (min-width: 768px) {
      .socials__item--vk {
        background: url("../icons/vk-tablet.png") no-repeat;
        width: 30px;
        height: 16px; } }
    .socials__item--vk:hover {
      background: url("../icons/vk-main-color.png") no-repeat; }
  .socials__item--inst {
    background: url("../icons/insta.png") no-repeat;
    width: 16px;
    height: 16px; }
    @media screen and (min-width: 768px) {
      .socials__item--inst {
        background: url("../icons/insta-tablet.png") no-repeat;
        width: 23px;
        height: 23px; } }
    .socials__item--inst:hover {
      background: url("../icons/insta-main-color.png") no-repeat; }
  .socials__item--fb {
    background: url("../icons/fb.png") no-repeat;
    width: 10px;
    height: 19px; }
    @media screen and (min-width: 768px) {
      .socials__item--fb {
        background: url("../icons/fb-tablet.png") no-repeat;
        width: 14px;
        height: 28px; } }
    .socials__item--fb:hover {
      background: url("../icons/fb-main-color.png") no-repeat; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.form {
  border-top: 1px solid #f2f2f2; }
  @media screen and (min-width: 768px) {
    .form {
      border-top: none;
      margin-bottom: 72px; } }
  .form ::-webkit-input-placeholder {
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #111111;
    color: #444444; }
  .form ::-moz-placeholder {
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #111111;
    color: #444444; }
  .form :-ms-input-placeholder {
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #111111;
    color: #444444; }
  .form ::-ms-input-placeholder {
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #111111;
    color: #444444; }
  .form ::placeholder {
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #111111;
    color: #444444; }
    @media screen and (min-width: 768px) {
      .form ::-webkit-input-placeholder {
        font-size: 20px; }
      .form ::-moz-placeholder {
        font-size: 20px; }
      .form :-ms-input-placeholder {
        font-size: 20px; }
      .form ::-ms-input-placeholder {
        font-size: 20px; }
      .form ::placeholder {
        font-size: 20px; } }

.form__line {
  background: linear-gradient(transparent 15px, #68b738 15px, #68b738 18px, transparent 18px); }

.form__title {
  font-family: 'Oswald',sans-serif;
  color: #111111;
  font-size: 24px;
  text-align: left;
  background: white;
  padding: 0 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: -20px; }
  @media screen and (min-width: 768px) {
    .form__title {
      font-size: 36px; } }
  .form__title span {
    display: block; }
  .form__title--main {
    font-size: 36px;
    padding: 30px 0 0 0;
    margin: 0; }
    @media screen and (min-width: 768px) {
      .form__title--main {
        font-size: 60px;
        padding: 64px 0 0 0; } }
    @media screen and (min-width: 1250px) {
      .form__title--main {
        padding: 80px 0 0 0; } }
  @media screen and (min-width: 768px) {
    .form__title span {
      display: inline-block; } }

.form__subtitle {
  font-family: 'Oswald',sans-serif;
  color: #111111;
  line-height: 18px;
  text-align: left;
  padding-top: 35px;
  text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    .form__subtitle {
      font-size: 20px;
      line-height: 30px;
      width: 50%;
      padding-top: 53px; } }
  @media screen and (min-width: 1250px) {
    .form__subtitle {
      width: 30%; } }

.form__field {
  position: relative; }
  .form__field--tel {
    margin-top: 14px; }

.input__icon {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .input__icon--email {
    background: url("../icons/mail.png") no-repeat;
    width: 17px;
    height: 13px; }
  .input__icon--tel {
    background: url("../icons/phone.png") no-repeat;
    width: 20px;
    height: 20px; }
    @media screen and (min-width: 1250px) {
      .input__icon--tel {
        margin-left: 80px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        margin-top: 0; } }

.form__label {
  font-family: 'Oswald',sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .form__label {
      font-size: 20px; } }
  .form__label--age, .form__label--weight, .form__label--gain, .form__label--advice {
    margin-top: 14px; }

.form__input {
  border: 1px solid rgba(68, 68, 68, 0.1);
  border-radius: 0;
  font-family: 'Oswald',sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
  margin-left: 15px;
  height: 45px;
  width: 100%;
  padding: 15px 45px 15px 15px; }
  @media screen and (min-width: 768px) {
    .form__input {
      font-size: 20px; } }
  .form__input:hover {
    outline: none;
    border: 1px solid rgba(68, 68, 68, 0.5); }
  .form__input:focus {
    outline: none;
    border: 1px solid #444444; }

.form__input:focus + .input__icon--email {
  background: url("../icons/mail-main-color.png") no-repeat;
  width: 17px;
  height: 13px; }

.form__textarea {
  border: 1px solid rgba(68, 68, 68, 0.1);
  margin-top: 30px;
  width: 100%;
  font-family: 'Oswald',sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
  padding: 15px;
  height: 150px;
  resize: none;
  line-height: 18px; }
  @media screen and (min-width: 768px) {
    .form__textarea {
      font-size: 20px; } }
  .form__textarea:hover {
    outline: none;
    border: 1px solid rgba(68, 68, 68, 0.5); }
  .form__textarea:focus {
    outline: none;
    border: 1px solid #444444; }
  @media screen and (min-width: 768px) {
    .form__textarea {
      margin-top: 70px; } }

@media screen and (min-width: 1250px) {
  .pet-data {
    width: 50%; } }

.pet-data__container {
  padding: 40px 20px 23px; }
  @media screen and (min-width: 768px) {
    .pet-data__container {
      padding: 69px 30px 72px; } }
  @media screen and (min-width: 1250px) {
    .pet-data__container {
      padding: 69px 80px 0 0; } }

@media screen and (min-width: 1250px) {
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.program {
  border-top: 1px solid rgba(68, 68, 68, 0.1); }
  @media screen and (min-width: 768px) {
    .program {
      border-top: none; } }
  @media screen and (min-width: 1250px) {
    .program {
      width: 50%;
      padding: 69px 0 0 0; } }

.program__container {
  padding: 22px 20px; }
  @media screen and (min-width: 768px) {
    .program__container {
      border: 1px solid rgba(68, 68, 68, 0.1);
      max-width: 708px;
      padding: 25px 30px; } }

.program__control {
  border-radius: 50%;
  background: white;
  border: 1px solid rgba(68, 68, 68, 0.1);
  width: 30px;
  height: 30px;
  margin-right: 16px;
  position: relative; }

.form__radio:checked + .program__control:after {
  content: '';
  position: absolute;
  display: block;
  background: #68b738;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%; }

.form__radio:hover + .program__control, .form__radio:focus + .program__control {
  border: 1px solid rgba(68, 68, 68, 0.5); }

.owner-data {
  border-top: 1px solid rgba(68, 68, 68, 0.1);
  padding-top: 30px; }
  @media screen and (min-width: 768px) {
    .owner-data {
      border-top: none;
      padding-top: 79px; } }

.owner-data__container {
  padding-top: 30px; }
  @media screen and (min-width: 768px) {
    .owner-data__container {
      padding-top: 70px; } }
  @media screen and (min-width: 1250px) {
    .owner-data__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.comment {
  padding-top: 30px; }
  @media screen and (min-width: 768px) {
    .comment {
      padding-top: 70px; } }

.additionally {
  padding-top: 30px; }
  @media screen and (min-width: 768px) {
    .additionally {
      padding-top: 70px; } }

.additionally__container {
  padding-top: 30px; }
  @media screen and (min-width: 768px) {
    .additionally__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-top: 53px; } }

.additionally__item {
  margin-top: 14px;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .additionally__item {
      width: 50%;
      margin-top: 0; }
      .additionally__item:nth-child(3) {
        margin-top: 32px; }
      .additionally__item:nth-child(4) {
        margin-top: 32px; } }
  @media screen and (min-width: 1250px) {
    .additionally__item {
      width: 25%;
      margin-top: 0; }
      .additionally__item:nth-child(3) {
        margin-top: 0; }
      .additionally__item:nth-child(4) {
        margin-top: 0; } }

.additionally__control {
  border: 1px solid #f2f2f2;
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 16px; }

.form__checkbox:checked + .additionally__control {
  background: url("../icons/tick-main-color.png") center no-repeat; }

.form__checkbox:hover + .additionally__control, .form__checkbox:focus + .additionally__control {
  border: 1px solid rgba(68, 68, 68, 0.5); }

.submit-form {
  padding-top: 34px; }
  @media screen and (min-width: 768px) {
    .submit-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-top: 53px; } }

.form__button {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .form__button {
      width: 50%; } }
  @media screen and (min-width: 1250px) {
    .form__button {
      width: 45%; } }

.caption {
  padding: 23px 0 34px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .caption {
      width: 50%;
      padding: 0; } }
  @media screen and (min-width: 1250px) {
    .caption {
      width: 55%; } }

.catalog {
  border-top: 1px solid rgba(68, 68, 68, 0.1); }
  @media screen and (min-width: 768px) {
    .catalog {
      border-top: none; } }

.catalog__title {
  padding-top: 32px;
  font-family: 'Oswald',sans-serif;
  font-size: 36px;
  color: #111111;
  text-align: left;
  margin-bottom: 35px; }
  @media screen and (min-width: 768px) {
    .catalog__title {
      padding-top: 66px;
      font-size: 60px;
      margin-bottom: 0; } }
  @media screen and (min-width: 1250px) {
    .catalog__title {
      padding-top: 83px; } }

.catalog__item {
  border-top: 1px solid rgba(68, 68, 68, 0.1); }
  .catalog__item:not(:first-child) {
    margin-top: 25px; }
  @media screen and (min-width: 768px) {
    .catalog__item {
      width: calc(50% - 60px);
      margin: 0 30px 58px;
      border-top: none; }
      .catalog__item:nth-child(2n+1) .product__img {
        top: 36px; }
      .catalog__item:not(:first-child) {
        margin-top: 0; } }
  @media screen and (min-width: 1250px) {
    .catalog__item {
      width: calc(25% - 80px);
      margin: 0 40px 60px; } }

.goods__container {
  padding: 0; }
  @media screen and (max-width: 767px) {
    .goods__container {
      max-width: 100%; } }

@media screen and (min-width: 768px) {
  .goods__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 75px; } }

@media screen and (min-width: 1250px) {
  .goods__row {
    margin: 0 -30px; } }

.more {
  padding-top: 27px; }
  @media screen and (min-width: 768px) {
    .more {
      border: 1px solid rgba(68, 68, 68, 0.1);
      height: 432px;
      padding-top: 55px; } }

.more__img {
  background: url("../icons/plus-mobile.png") no-repeat;
  width: 30px;
  height: 30px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .more__img {
      background: url("../icons/plus-tablet.png") no-repeat;
      width: 60px;
      height: 60px; } }

.more__title {
  padding-top: 27px;
  font-family: 'Oswald',sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .more__title {
      font-size: 20px;
      width: 134px;
      margin: 0 auto;
      padding-top: 50px; } }

.more__subtitle {
  padding-top: 11px;
  text-align: center;
  font-size: 12px; }
  @media screen and (min-width: 768px) {
    .more__subtitle {
      font-size: 16px;
      padding-top: 28px;
      width: 167px;
      margin: 0 auto; } }

.button--more {
  margin: 22px 0 0; }
  @media screen and (min-width: 768px) {
    .button--more {
      margin: 78px 0 0; } }

.additional-goods {
  padding-top: 31px;
  padding-bottom: 35px; }
  @media screen and (min-width: 768px) {
    .additional-goods {
      padding-bottom: 76px; } }
  @media screen and (min-width: 1250px) {
    .additional-goods {
      padding-bottom: 86px; } }

.additional-goods__container {
  padding-top: 30px; }
  @media screen and (min-width: 1250px) {
    .additional-goods__container {
      padding-top: 75px;
      width: 100%;
      margin-right: 80px; } }

.additional-goods__item {
  border-top: 1px solid rgba(68, 68, 68, 0.1);
  padding-bottom: 17px; }
  .additional-goods__item:last-child {
    border-bottom: 1px solid rgba(68, 68, 68, 0.1); }
  @media screen and (min-width: 768px) {
    .additional-goods__item {
      padding: 28px 38px;
      border-width: 1px 1px 0 1px;
      border-color: rgba(68, 68, 68, 0.1);
      border-style: solid; }
      .additional-goods__item .product__button {
        margin-top: 26px; } }
  @media screen and (min-width: 1250px) {
    .additional-goods__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-width: 1px 0 0 0;
      padding: 15px 0; }
      .additional-goods__item .product__button {
        width: 245px;
        margin-top: 0; } }

@media screen and (min-width: 768px) {
  .additional-goods__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media screen and (min-width: 1250px) {
  .additional-goods__wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 40px; } }

.additional-goods__title {
  font-family: 'Oswald',sans-serif;
  font-size: 16px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  padding-top: 14px; }
  @media screen and (min-width: 768px) {
    .additional-goods__title {
      padding-top: 0;
      font-size: 20px; } }

.additional-goods__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0 14px; }
  @media screen and (min-width: 768px) {
    .additional-goods__description {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end;
      padding: 0;
      font-size: 16px; }
      .additional-goods__description .price {
        width: 54px;
        margin-left: 40px;
        text-align: end; } }

@media screen and (min-width: 1250px) {
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; } }

@media screen and (min-width: 768px) {
  .product-card {
    position: relative;
    padding: 205px 38px 40px;
    background: linear-gradient(transparent 82px, #f2f2f2 82px); } }

.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (min-width: 768px) {
    .product__item {
      display: block; } }

.product__title {
  font-family: 'Oswald',sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #111111;
  width: 72px; }
  @media screen and (min-width: 768px) {
    .product__title {
      text-align: center;
      font-size: 20px;
      width: 124px;
      padding-top: 39px;
      margin: 0 auto; } }

.description {
  color: #444444;
  width: 100%; }

.options {
  padding-top: 18px; }
  @media screen and (min-width: 768px) {
    .options {
      padding-top: 28px;
      font-size: 16px; } }

.option__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .option__item:not(:first-child) {
    padding-top: 5px; }
  @media screen and (min-width: 768px) {
    .option__item {
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(68, 68, 68, 0.1); } }

.product__img {
  height: 144px; }
  @media screen and (min-width: 768px) {
    .product__img {
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }

.product__button {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .product__button {
      margin-top: 33px; } }

.promo {
  padding-top: 39px; }
  @media screen and (min-width: 768px) {
    .promo {
      padding-top: 69px; } }
  @media screen and (min-width: 1250px) {
    .promo {
      padding-top: 0; } }

.promo__img {
  background: url("../img/gift-photo-mobile.png") no-repeat;
  height: 289px;
  width: 280px;
  padding-top: 65px; }
  @media screen and (min-width: 768px) {
    .promo__img {
      background: url("../img/gift-photo-tablet.png") no-repeat;
      height: 200px;
      width: 708px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-top: 0; } }
  @media screen and (min-width: 1250px) {
    .promo__img {
      display: block;
      background: url("../img/gift-photo-desktop.png") no-repeat;
      height: 289px;
      width: 245px;
      padding-top: 65px; } }

.promo__icon {
  background: url("../icons/gift.png") no-repeat;
  width: 55px;
  height: 60px;
  margin: 0 auto; }

.promo__text {
  padding-top: 65px;
  margin: 0 auto;
  font-size: 16px;
  color: white;
  text-align: center;
  width: 159px;
  line-height: 20px; }
  @media screen and (min-width: 768px) {
    .promo__text {
      padding-top: 0; } }
  @media screen and (min-width: 1250px) {
    .promo__text {
      padding-top: 65px; } }
