@import "../variables";
@import "../mixins";



.advantages {
  padding: 32px 20px 42px;

  @include tablet{
    padding: 51px 20px 55px;
  }

  @include desktop {
    padding: 79px 20px 0;
  }
}

.advantages__block {
  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-wrap: nowrap;
  }
}

.advantages__title {
  @include oswald;
  color: $title-color;
  font-size: 36px;
  padding-bottom: 35px;

  @include tablet {
    font-size: 60px;
    padding-bottom: 63px;
  }
}

.advantages__text {
  margin-left: 20px;

  @include tablet{
    margin: 37px 0 0 0;
    line-height: 24px;
  }

}

.advantages__item {
  @include flex-space;

  &:not(:last-child) {
    margin: 0 0 20px;
  }

  @include tablet {
    display: block;
    width: 32%;
    padding-bottom: 39px;

    &:nth-child(-n+2) {
      margin: 0 0 87px;
    }
    &:nth-child(2n) {
      margin: 0 80px 20px 100px;
    }
    &:nth-child(3) {
      padding-bottom: 45px;
    }
  }

  @include desktop {
    &:nth-child(-n+2) {
      margin: 0 0 0 0;
    }
    &:nth-child(2n) {
      margin: 0 0 0 0;
    }
    &:not(:last-child){
      margin: 0 90px 0 0;
    }
  }
}

.advantage__item--first {
  @include tablet {
    background: url("../img/1.png") 75% top no-repeat;
  }
}

.advantage__item--second {
  @include tablet {
    background: url("../img/2.png") right top no-repeat;
  }
}

.advantage__item--third {
  @include tablet {
    background: url("../img/3.png") right top no-repeat;
  }
}

.advantage__item--fourth {
  @include tablet {
    background: url("../img/4.png") right top no-repeat;
  }
}

.advantages__icon {
  padding: 15px 17px;
  background: $color-main;
  width: 60px;
  height: 60px;
  flex-shrink: 0;

  @include tablet {
    width: 80px;
    height: 80px;
    padding: 25px 26px;
  }
}