@import "../variables";
@import "../mixins";

.button {
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 1;

  &:active,
  &:focus {
    outline: none;
  }

  &--basic {
    @include oswald;
    background: $color-main;
    color: white;
    padding: 14px;
    text-transform: uppercase;
    font-size: 16px;
    display: block;

    &:hover, &:focus {
      background: #5eaa2f;
    }

    &:active {
      background: #5eaa2f;
      color: rgba(255, 255, 255, 0.3);
    }

    @include tablet {
      width: 245px;
      padding: 13px 27px;
    }
  }


  &--burger {
    background: url("../icons/mobile-menu.png") no-repeat;
    width: 24px;
    height: 18px;

    @include tablet {
      display: none;
    }
  }

  &--close {
    background: url("../icons/close.png") no-repeat center center;
    width: 24px;
    height: 18px;
  }


  &--more {
    @include oswald;
    font-size: 16px;
    padding: 14px;
    width: 100%;
    background: $color-back;
    color: $font-color;
    text-transform: uppercase;

    &:hover {
      background: $color-back-tablet;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
      background: $color-back-tablet;
    }

  }
}



