@import "../variables";
@import "../mixins";

.button {
  border: none;
      &:active,
      &:focus {
        outline: none;
      }

  &--basic {
    @include oswald;
    background: $color-main;
    color: white;
    padding: 14px;
    text-transform: uppercase;
  }

  &--wide {
    width: 100%;
  }

  &--burger {
    background: url("../icons/mobile-menu.png") no-repeat;
    width: 24px;
    height: 18px;
  }

}



