@import "../variables";
@import "../mixins";

.copyright {
  @include flex-space;

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 16px;
  color: $font-color;

  @include tablet {
    padding-right: 23px;
  }
}

.copyright__logo {
  background: url("../icons/htmlacademy.png")no-repeat;
  width: 27px;
  height: 34px;

  &:hover {
    background: url("../icons/htmlacademy-main-color.png")no-repeat;
  }
}