@import "../variables";
@import "../mixins";

.example {
  background: $color-back;

  @include tablet {
    border-top: $decor-line;
    background: linear-gradient(transparent 57%, $color-back-tablet 57%);
  }

  @include desktop{
    border-top: none;
    background: linear-gradient(transparent 30%, $color-back-tablet 30%);
  }
}

.example__container {
  padding-top: 33px;
  padding-bottom: 39px;

  @include tablet {
    padding-top: 51px;
    padding-bottom: 68px;
  }

  @include desktop {
    padding-top: 0;
    @include flex-space;
    align-items: start;
  }
}

.example__info {
  @include desktop {
    width: 50%;
  }
}

.example__title {
  @include oswald;
  color: $title-color;
  font-size: 36px;

  @include tablet {
    font-size: 60px;
  }

  @include desktop{
    padding-top: 63px;
  }
}
.example__text {
  line-height: 18px;
  padding-top: 33px;

  @include tablet{
    padding-top: 60px;
    line-height: 24px;
  }

  @include desktop{
    padding-top: 134px;
  }
}


.example__stats {
  @include tablet {
    @include flex-space;
  }

  @include desktop{
    display: block;
  }
}

.example__total {
  @include oswald;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $title-color;
  padding-top: 38px;

  @include tablet{
    text-align: right;
    font-size: 20px;
    width: 174px;
    line-height: 25px;
  }

  @include desktop {
    text-align: left;
    width: 100%;
    padding-top: 62px;
  }
}


.before-picture {
  display: block;
  margin: 0 auto;
}

.before-after {
  padding-top: 44px;

  @include tablet {
    padding-top: 86px;
  }

  @include desktop {
    width: 50%;
    padding-top: 0;
    margin-left: 139px;
  }
}
