@import "../variables";
@import "../mixins";

.features__item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  position: relative;

  @include tablet {
    width: 162px;
    &:first-child {
      margin-right: 42px;
    }
  }
}

.features__value {
  @include oswald;
  font-size: 24px;
  color: $title-color;
  text-align: center;
  padding: 17px 0 18px;

  @include tablet{
    font-size: 30px;
  }
}

.features__label {
  text-align: center;
  font-size: 12px;
  padding: 0 10px ;
  background: $color-back;
  margin: 0 auto;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;

  @include tablet {
    background: white;
    width: max-content;
    bottom: -5px;
  }
}