@import "../variables";
@import "../mixins";

footer {
  background: $color-back;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding: 39px 20px 22px;
}

.footer__logo {
  background: url("../img/footer-logo.png")no-repeat;
  width: 128px;
  height: 24px;
  padding-bottom: 31px;
  border-bottom: $decor-line;
}


.footer__logo {
  margin: 0 auto;
}


.socials {
  padding-top: 24px;
  margin: 0 auto;
  padding-bottom: 22px;
  border-bottom: $decor-line;
}

.copyright {
  padding-top: 22px;
}