@import "../variables";
@import "../mixins";

footer {
  background: $color-back;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding: 39px 20px 22px;

  @include tablet {
    flex-direction: row;
    padding: 64px 30px 62px;
  }
}

.footer__logo {
  background: url("../img/footer-logo.png")no-repeat;
  width: 128px;
  height: 24px;
  padding-bottom: 31px;
  border-bottom: $decor-line;

  @include tablet {
    border-bottom: none;
    padding-bottom: 0;
  }
}


.footer__logo {
  margin: 0 auto;

  @include tablet {
    margin: 0;
  }
}


.socials {
  padding-top: 24px;
  margin: 0 auto;
  padding-bottom: 22px;
  border-bottom: $decor-line;

  @include tablet {
    border-bottom: none;
    padding: 0;
  }
}

.copyright {
  padding-top: 22px;

  @include tablet {
    padding-top: 0;
  }
}

