@import "../variables";
@import "../mixins";


.with-background {
  @include desktop {
    background: url("../img/index-background-desktop.png") top right no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }

  .menu__item {
    @include desktop {
      font-size: 20px;
      color: white;
    }

    &--active:after {
      @include desktop{
        background: white;
      }
    }
  }
}


.header__container {
  @include flex-space;
  padding: 11px 20px 16px;

  @include tablet {
    padding: 24px 30px 0;
  }

  @include desktop {
    padding: 54px 15px 0;
  }
}

.logo {
  @include flex-space;
  width: 191px;
}

.logo__img {

  &:hover {
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }

  &--text {
    @include tablet {
      display: none;
    }
  }
}

.menu {
  display: none;

  @include tablet {
    @include flex-space;
    width: 438px;
  }


  @include desktop {
    width: 477px;
  }
}

.menu__item {
  @include oswald;
  color: $title-color;
  font-size: 18px;
  text-transform: uppercase;


  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }


  &--active{
    position: relative;

    &:after {
      position: absolute;
      content: '';
      display: block;
      bottom: -12px;
      left: 0;
      background: $color-main;
      height: 2px;
      width: 100%;
    }
  }

}