@import "../variables";
@import "../mixins";


.icon__img {

  &--helpful {
    width: 26px;
    height: 29px;
  }

  &--powder {
    width: 29px;
    height: 31px;
  }

  &--eating {
    width: 23px;
    height: 30px;
  }

  &--time {
    width: 26px;
    height: 31px;
  }
}




