@import "../variables";
@import "../mixins";


.map {
  position: relative;

  @include desktop {
    max-width: 1440px;
    margin: 0 auto;
  }

}

.map__container {
  @include tablet {
    padding: 0 72px;
  }

  @include desktop {
    position: absolute;
    width: 570px;
    background: white;
    display: block;
    top: 23%;
    left: 110px;
    right: auto;
    z-index: 10;
    padding: 65px 83px;
  }

  &--form {
    background: $color-back;

    @include desktop {
      background: white;
    }
  }
}

.map__header {
  @include flex-space;
  padding-top: 31px;
  padding-bottom: 26px;

  @include tablet {
    padding-top: 69px;
    padding-bottom: 62px;
  }

  @include desktop{
    padding: 0;
  }
}

.map__title {
  @include oswald;
  font-size: 16px;
  text-transform: uppercase;
  color: $title-color;
  line-height: 20px;

  @include tablet {
    font-size: 20px;
    line-height: 25px;
    width: 154px;
  }

}

.map__address {
  line-height: 20px;
  padding-left: 19px;

  @include tablet {
    text-align: right;
    font-size: 16px;
    width: 160px;
    padding-left: 0;
  }

  @include desktop {
    text-align: left;
  }
}

.map__address--city {
  @include tablet {
    display: inline-block;
    padding-top: 20px;
  }
}

.map__image {
  background: url("../img/map.png") no-repeat;
  background-position-y: -30px;
  height: 370px;
  position: relative;
  margin: 0 auto;
  width: 320px;

  @include tablet {
    background: url("../img/map-tablet.png") right center no-repeat;
    height: 400px;
    width: 100%;
    max-width: 1440px;
  }
  @include desktop {
    background: url("../img/map-desktop.png") right center no-repeat;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 42%;
    left: 44%;
    transform: translate(-50% -50%);
    background: url("../img/map-pin.png") no-repeat;
    width: 55px;
    height: 53px;


    @include tablet {
      background: url("../img/map-pin-tablet.png") no-repeat;
      width: 113px;
      height: 106px;
      top: 38%;
      left: auto;
      right: 300px;
    }

    @include desktop {
      background: url("../img/map-pin.png") no-repeat;
      top: 50%;
      left: auto;
      right: 290px;
    }
  }


}
