@import "./variables";

@mixin flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@mixin oswald {
  font-family: 'Oswald',sans-serif;
}

@mixin tablet {
  @media screen and (min-width: $tablet-width){
    @content;
  }
}